{% extends 'base.html' %}

{% block title %}
    Solar Panel Chooser
{% endblock %}

{% block content %}
    <h1>Solar Panel Plan Chooser</h1>

    <a href="{{url_for('all_solar_plans')}}" class="btn btn-sm btn-primary">View All Plans</a>
    <br>
    <br>

    <form method="POST">
        <label for="energy_daily" class="form-label">Energy Required Daily(in kWh):</label>
        <input type="number" name="energy_daily" class="form-control">

        <br>

        <label for="budget" class="form-label">Budget:</label>
        <input type="number" name="budget" class="form-control">

        <br>

        <label for="area_available">Area Available(in sq.ft):</label>        
        <input type="number" name="area_available" class="form-control">

        <br>

        <button type="submit" class="btn btn-success">Get Suitable Plans</button>
    </form>

    <br>

    {% if plans %}
        <hr>
        <br>
        <h1>Suitable Plans</h1>
        <h3>Specified Parameters:</h3>
        <ul class="list-group">
            <li class="list-group-item">Minimum Energy Required Daily: {{energy_daily}}</li>
            <li class="list-group-item">Budget: {{budget}}</li>
            <li class="list-group-item">Area Available: {{area_available}}</li>
        </ul>
        <br>
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <td>Plan Name</td>
                    <td>Company</td>
                    <td>Energy per day</td>
                    <td>Cost</td>
                    <td>Area Required</td>
                    <td>Can Be Used For</td>
                </tr>
            </thead>
            <tbody>
                {% for plan in plans %}
                    <tr>
                        <td>{{plan.name}}</td>
                        <td>{{plan.company}}</td>
                        <td>{{plan.energy_daily}} kWh</td>
                        <td>{{plan.cost}} rupees</td>
                        <td>{{plan.area_required}} sq.ft</td>
                        <td>{{plan.uses}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <br>
        <hr>
        <br>

        <h1 class="text-center">Chart Comparisons</h1>
        <br>
        <div class="canvas-div" style="width: 100%; height: 80vh; margin-left: auto; margin-right: auto; text-align: center; background-color: rgb(16, 61, 2); color: #000; border-radius: 10px;">
            <canvas id="plansEnergyChart"style="margin-left: auto; margin-right: auto; height: 100vh"></canvas>
        </div>

        <br>

        <div class="canvas-div" style="width: 100%; height: 80vh; margin-left: auto; margin-right: auto; text-align: center; background-color: rgb(16, 61, 2); color: #000; border-radius: 10px;">
            <canvas id="plansAreaRequired"style="margin-left: auto; margin-right: auto; height: 100vh"></canvas>
        </div>

        <br>

        <div class="canvas-div" style="width: 100%; height: 80vh; margin-left: auto; margin-right: auto; text-align: center; background-color: rgb(16, 61, 2); color: #000; border-radius: 10px;">
            <canvas id="plansCost"style="margin-left: auto; margin-right: auto; height: 100vh"></canvas>
        </div>

        <script>
            // energy chart
            const graphData = {{ graph_data|safe }};
            const categories_energy = ['Energy (kWh)'];

            const datasets_energy = graphData.labels.map((planName, index) => ({
                label: planName,
                data: [
                    graphData.energy[index],
                ],
                foregroundColor: [graphData.color],
            }));

            const ctx_energy = document.getElementById('plansEnergyChart').getContext('2d');
            new Chart(ctx_energy, {
                type: 'bar',
                data: {
                    labels: categories_energy,
                    datasets: datasets_energy,
                },
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    scales: {
                        x: { beginAtZero: true },
                        y: { stacked: false },
                    },
                    color: "#000",
                    plugins: {
                        legend: {
                            labels: {
                                font: {
                                    family: "'Poppins', sans-serif;",
                                    size: 12,
                                },
                                color: "white",
                            }
                        }
                    },
                    scales: {
                        x: {
                            grid: {                                
                                color: 'rgba(0, 0, 0)'
                            },
                            ticks: {
                                font: {
                                    family: 'Poppins, sans-serif',
                                    size: 12,
                                },
                                color: "white"
                            },
                        },
                        y: {
                            grid: {                                
                                color: 'rgba(0, 0, 0)'
                            },
                            ticks: {
                                font: {
                                    family: 'Poppins, sans-serif',
                                    size: 12,
                                },
                                color: "white"
                            }
                        }
                    }
                }    
            })

            // Area required chart
            const categories_area_required = ['Area Required (sq.ft)'];

            const datasets_area_required = graphData.labels.map((planName, index) => ({
                label: planName,
                data: [
                    graphData.area_required[index],
                ],
                foregroundColor: [graphData.color],
            }));

            const ctx_area_required = document.getElementById('plansAreaRequired').getContext('2d');
            new Chart(ctx_area_required, {
                type: 'bar',
                data: {
                    labels: categories_area_required,
                    datasets: datasets_area_required,
                },
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    scales: {
                        x: { beginAtZero: true },
                        y: { stacked: false },
                    },
                    color: "#000",
                    plugins: {
                        legend: {
                            labels: {
                                font: {
                                    family: "'Poppins', sans-serif;",
                                    size: 12,
                                },
                                color: "white",
                            }
                        }
                    },
                    scales: {
                        x: {
                            grid: {                                
                                color: 'rgba(0, 0, 0)'
                            },
                            ticks: {
                                font: {
                                    family: 'Poppins, sans-serif',
                                    size: 12,
                                },
                                color: "white"
                            },
                        },
                        y: {
                            grid: {                                
                                color: 'rgba(0, 0, 0)'
                            },
                            ticks: {
                                font: {
                                    family: 'Poppins, sans-serif',
                                    size: 12,
                                },
                                color: "white"
                            }
                        }
                    }
                }    
            })

            // energy chart
            const categories_cost = ['Cost (rupees)'];

            const datasets_cost = graphData.labels.map((planName, index) => ({
                label: planName,
                data: [
                    graphData.cost[index],
                ],
                foregroundColor: [graphData.color],
            }));

            const ctx_cost = document.getElementById('plansCost').getContext('2d');
            new Chart(ctx_cost, {
                type: 'bar',
                data: {
                    labels: categories_cost,
                    datasets: datasets_cost,
                },
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    scales: {
                        x: { beginAtZero: true },
                        y: { stacked: false },
                    },
                    color: "#000",
                    plugins: {
                        legend: {
                            labels: {
                                font: {
                                    family: "'Poppins', sans-serif;",
                                    size: 12,
                                },
                                color: "white",
                            }
                        }
                    },
                    scales: {
                        x: {
                            grid: {                                
                                color: 'rgba(0, 0, 0)'
                            },
                            ticks: {
                                font: {
                                    family: 'Poppins, sans-serif',
                                    size: 12,
                                },
                                color: "white"
                            },
                        },
                        y: {
                            grid: {                                
                                color: 'rgba(0, 0, 0)'
                            },
                            ticks: {
                                font: {
                                    family: 'Poppins, sans-serif',
                                    size: 12,
                                },
                                color: "white"
                            }
                        }
                    }
                }    
            })
        </script>
    {% endif %}
{% endblock %}